@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ontario, Canada
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:library@support.ca">library@support.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@library.ca">marketing@library.ca</a>
</address>